<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- 환경 변수 설정 -->
    <Properties>

        <!-- 로그 패턴 설정 -->
        <!-- %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} : 로그 발생 시간을 ISO 8601 형식으로 출력 -->
        <!-- %-5level : 로그 레벨을 5자리로 맞추고 왼쪽 정렬 -->
        <!-- %pid : 프로세스 ID를 출력 -->
        <!-- %t : 로그를 발생시킨 스레드 이름 -->
        <!-- %c : 로그를 발생시킨 클래스 이름의 마지막 부분만 풀 네임으로 출력 -->
        <!-- %msg : 로그 메시지 -->
        <!-- %n : 줄바꿈 문자 -->
        <Property name="consoleLogPattern">
            <!-- @formatter:off -->
            %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %highlight{%-5level} %style{%pid}{magenta} --- [%15.15t] %style{%-40.40c{1.}}{cyan} : %msg%n
            <!-- @formatter:on -->
        </Property>

        <!-- 로그 파일 저장되는 디렉토리(상대경로) -->
        <Property name="logDir">log</Property>

        <!-- APP_ENV 환경변수 바인딩 -->
        <Property name="env">${spring:ENV}</Property>
    </Properties>

    <Appenders>
        <!-- 콘솔 출력 설정 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLogPattern}" charset="UTF-8"/>
        </Console>

        <!-- 파일 출력 설정 -->
        <!-- INFO, WARN, ERROR, FATAL 로그 파일 -->
        <!-- txt 파일로 저장 -->
        <!-- 1일마다 0시에 롤오버 발생 (날짜 디렉토리에 저장 ex C:/hearit/log/archive/all-level/2025_08_07.zip) -->
        <!-- 7개 파일 쌓이면 오래된 로그부터 삭제 -->
        <RollingFile name="RollingFile">
            <FileName>${logDir}/all-level.log</FileName>
            <FilePattern>${logDir}/app-%d{yyyy-MM-dd}.log.gz</FilePattern>
            <JsonLayout
                    complete="false"
                    compact="true"
                    eventEol="true"
                    objectMessageAsJsonObject="true"
                    charset="UTF-8">
                <!-- log context-->
                <KeyValuePair key="ip" value="$${ctx:ip}"/>
                <KeyValuePair key="timestamp" value="$${ctx:timestamp}"/>
                <KeyValuePair key="deviceModel" value="$${ctx:deviceModel}"/>
                <KeyValuePair key="appVersion" value="$${ctx:appVersion}"/>

                <!-- user context -->
                <KeyValuePair key="userType" value="$${ctx:userType}"/>
                <KeyValuePair key="memberId" value="$${ctx:memberId}"/>
                <KeyValuePair key="guestId" value="$${ctx:guestId}"/>

                <!-- OpenTelemetry trace 정보 추가 -->
                <KeyValuePair key="traceId" value="$${ctx:trace_id}"/>
                <KeyValuePair key="spanId" value="$${ctx:span_id}"/>
                <KeyValuePair key="port" value="${spring:server.port}"/>
                <KeyValuePair key="env" value="${env}"/>
            </JsonLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${logDir}" maxDepth="1">
                    <IfFileName glob="app-*.log.gz"/>
                    <IfLastModified age="3d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 최상위 로거 (모든 로그 이벤트 처리) -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <!-- 콘솔 Logger-->
        <Logger name="consoleLogger" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- JSON 파일 Logger-->
        <Logger name="jsonLogger" level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>
